{% extends "base.html" %}

{% block announce %}
    {# Keep this commented for future workshops
    <a class="announce-bar" href="{{ base_url }}/community_resources/access_workshop_2025/">
        <b>&#x1F680 ACCESS Workshop & Training Day 2025 &#x1F4DA &#x2728</b>
    </a>

    <style>
        .announce-bar { 
            color: var(--nri-light-blue) !important;
            display: block;
            text-align: center;
            border: 1px solid var(--nri-orange);
            border-radius: 0.35rem;
            padding: 0.6rem;
        }
        .announce-bar:hover {
            color: var(--nri-blue) !important;
        }
    </style>
    #}
{% endblock %}
