<html lang="en">
    <head>
        <style>
            ul {
                font-size: 20px; 
                font-weight: 500;
            }
            li {
                margin: 0.3em;
            }
            a {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <h1>PR Previews</h1>
        <ul>
            {% if data %}
                {% for pr in data %}
                    <li>
                        <a href="{{ pr.pr_preview_url }}">
                            PR #{{ pr.pr_number }} - {{ pr.pr_title }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <p>No open PRs found.</p>
                </li>
            {% endif %}
        </ul>
    </body>
</html>