
.icon-alert:before { content: '\e800'; } /* '' */
.icon-cc:before { content: '\e801'; } /* '' */
.icon-cc-by:before { content: '\e802'; } /* '' */
.icon-key:before { content: '\e803'; } /* '' */
.icon-logout:before { content: '\e804'; } /* '' */
.icon-group-1:before { content: '\e805'; } /* '' */
.icon-tip_icon:before { content: '\e806'; } /* '' */
