/*
   ACCESS-Hive CSS
*/

.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: disabled;
  border-spacing: 17px;
  width: 100%;
}

.logo_component {
    width: 70%;
    margin: 0 auto;
}

.logo_cell {
    margin: 0 auto;
    text-align: center;
    width: 25%;
}

.access_forum_button {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 70%;
  border: 0.1rem solid;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  transition-duration: 0.4s;
  background-color: #00adee;
  color: white
}


.access_forum_button:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.md-tabs__item {
  text-transform: uppercase;
}

.md-tabs__item--active {
  background-image: linear-gradient(var(--md-primary-fg-color), var(--md-primary-fg-color--light));
  border-bottom: 4px solid white;
}
