/*
   ACCESS-Hive CSS
*/

/* Import medium-weight Roboto font for tabs */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

[data-md-color-scheme="custom-dark"] {
  --nri-green: #A6CE39;
  --nri-orange: #FAA619;
  --nri-dark-blue: #115D97;
  --nri-blue: #06AEEF;
  --nri-light-blue: #8ED7F8;
  --default-fg-color: 230, 230, 230;  /* Color for main text in body, navigation, table of content*/
  --md-default-fg-color: rgb(var(--default-fg-color)); /* Main text in body, navigation, table of content*/ 
  --md-default-fg-color--light: rgba(var(--default-fg-color),.7); /* Inactive tabs */
  --md-default-fg-color--lighter: rgba(var(--default-fg-color),.3); /* pencil for editing page, passed toc items text */
  --md-default-fg-color--lightest: rgba(var(--default-fg-color),.07);
  --default-bg-color: 46, 51, 62; /* Color for main background */
  --md-default-bg-color: rgb(var(--default-bg-color)); /* Main background */
  --md-default-bg-color--light: rgba(var(--default-bg-color),.7);
  --md-default-bg-color--lighter: rgba(var(--default-bg-color),.3);
  --md-default-bg-color--lightest: rgba(var(--default-bg-color),.12);
  --md-primary-fg-color: rgb(30, 29, 29); /* top banner background */
  --md-primary-fg-color--light: var(--nri-light-blue);
  --md-primary-fg-color--dark: var(--nri-dark-blue); /* top tab background */
  --primary-bg-color: 237, 237, 237;
  --md-primary-bg-color: rgb(var(--primary-bg-color)); /* top banner text */
  --md-primary-bg-color--light: rgba(var(--primary-bg-color),0.5); /* search bar 'Search' text */
  --md-accent-fg-color: var(--nri-orange); /* link text hover */
  --md-accent-fg-color--transparent: #FAA61916;  /* navigation bar little arrows hover */
  --md-accent-bg-color: var(--nri-dark-blue); /* back to top button text hover */
  --md-accent-bg-color--light: #115D97B0;
  --md-code-fg-color: rgb(213, 217, 226); /* code element text */
  --md-code-bg-color: #242428; /* code element background */
  --md-code-hl-color: rgba(255,255,0,.5);
  --md-code-hl-number-color: #d52a2a;
  --md-code-hl-special-color: #db1457;
  --md-code-hl-function-color: #a846b9;
  --md-code-hl-constant-color: #6e59d9;
  --md-code-hl-keyword-color: #3f6ec6;
  --md-code-hl-string-color: #1c7d4d;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: var(--nri-blue); /* link text */
  --md-typeset-mark-color: #FAA61970; /* marked text (<mark> tag)*/
  --md-typeset-del-color: rgba(245,80,61,.15); /* deleted text (<del> tag) */
  --md-typeset-ins-color: rgba(11,213,112,.15); /* inserted text (<ins> tag) */
  --md-typeset-kbd-color: rgb(39, 39, 39); /* keyboard key background (<kbd> tag) */
  --md-typeset-kbd-accent-color: rgb(126, 126, 126, .16); /* keyboard key inner border (<kbd> tag) */
  --md-typeset-kbd-border-color: rgb(30, 30, 30); /* text as keyboard outer border (<kbd> tag) */
  --navigation-borders: #115D9750; /* Left border on the toc and navigation */
  --card-borders: var(--md-primary-fg-color--dark); /* Borders of cards */
  --md-typeset-table-color: var(--card-borders); /* table borders (<table> tag) */
  --md-admonition-fg-color: var(--md-typeset-color); /* Main text warnings */
  --md-admonition-bg-color: var(--md-default-bg-color); /* Background warnings */
  --md-footer-fg-color: var(--md-primary-bg-color); /* footer text (not much used) */
  --md-footer-fg-color--light: var(--md-primary-bg-color); /* Footer copyright text and social icons fill */
  --md-footer-fg-color--lighter: var(--md-default-fg-color--lighter); /* Footer 'Made with' (Material for MkDocs) text */
  --md-footer-bg-color: var(--md-primary-fg-color); /* footer background color */
  --md-footer-bg-color--dark: rgba(0,0,0,0); /* footer background color (on top of the --md-footer-bg-color) */
  --md-shadow-z1: 0 0.2rem 0.5rem rgba(0,0,0,.05),0 0 0.05rem rgba(0,0,0,.1);
  --md-shadow-z2: 0 0.2rem 0.5rem rgba(0,0,0,.1),0 0 0.05rem rgba(0,0,0,.25);
  --md-shadow-z3: 0 0.2rem 0.5rem rgba(0,0,0,.2),0 0 0.05rem rgba(0,0,0,.35);
  --highlight-bg: #242428; /* .highligh-bg */
  --card-shadows: #00000075; /* Shadows on cards and other elements */
  --card-shadows-hover: #00000090; /* Shadows hover on cards and other elements */
  --img-background: #FFFFFF; /* Background for transparent images */
  --shadow-hover-background: rgba(29, 28, 28, 0.185); /* Shadow Background on hover */
  --terminal-animation-directory: var(--nri-green);
  --terminal-animation-buttons: var(--nri-orange);
  --terminal-animation-buttons-hover: var(--nri-dark-blue);
  --note: var(--nri-orange);
  --note-bg: var(--md-accent-fg-color--transparent);
}

[data-md-color-scheme="custom-light"] {
  --nri-green: #A6CE39;
  --nri-orange: #FAA619;
  --nri-dark-blue: #115D97;
  --nri-blue: #06AEEF;
  --nri-light-blue: #8ED7F8;
  --default-fg-color: 10, 10, 10;  /* Color for main text in body, navigation, table of content*/
  --md-default-fg-color: rgb(var(--default-fg-color)); /* Main text in body, navigation, table of content*/ 
  --md-default-fg-color--light: rgba(var(--default-fg-color),.65); /* Inactive tabs */
  --md-default-fg-color--lighter: rgba(var(--default-fg-color),.3); /* pencil for editing page, passed toc items text */
  --md-default-fg-color--lightest: rgba(var(--default-fg-color),.07);
  --default-bg-color: 255, 255, 255; /* Color for main background */
  --md-default-bg-color: rgb(var(--default-bg-color)); /* Main background */
  --md-default-bg-color--light: rgba(var(--default-bg-color),.7);
  --md-default-bg-color--lighter: rgba(var(--default-bg-color),.3);
  --md-default-bg-color--lightest: rgba(var(--default-bg-color),.12);
  --md-primary-fg-color: rgb(30, 29, 29); /* top banner background */
  --md-primary-fg-color--light: var(--nri-light-blue);
  --md-primary-fg-color--dark: var(--nri-orange); /* top tab background */
  --primary-bg-color: 237, 237, 237;
  --md-primary-bg-color: rgb(var(--primary-bg-color)); /* top banner text */
  --md-primary-bg-color--light: rgba(var(--primary-bg-color),0.3); /* search bar 'Search' text */
  --md-accent-fg-color: var(--nri-dark-blue); /* link text hover */
  --md-accent-fg-color--transparent: #115D9716;  /* navigation bar little arrows hover */
  --md-accent-bg-color: var(--nri-orange); /* back to top button text hover */
  --md-accent-bg-color--light: #115D97B0;
  --md-code-fg-color: rgb(33, 36, 44); /* code element text */
  --md-code-bg-color: #dedede; /* code element background */
  --md-code-hl-color: rgba(255,255,0,.5);
  --md-code-hl-number-color: #d52a2a;
  --md-code-hl-special-color: #db1457;
  --md-code-hl-function-color: #a846b9;
  --md-code-hl-constant-color: #6e59d9;
  --md-code-hl-keyword-color: #3f6ec6;
  --md-code-hl-string-color: #1c7d4d;
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: var(--nri-orange); /* link text */
  --md-typeset-mark-color: #FAA61970; /* marked text (<mark> tag)*/
  --md-typeset-del-color: rgba(245,80,61,.15); /* deleted text (<del> tag) */
  --md-typeset-ins-color: rgba(11,213,112,.15); /* inserted text (<ins> tag) */
  --md-typeset-kbd-color: rgb(226, 226, 226); /* keyboard key background (<kbd> tag) */
  --md-typeset-kbd-accent-color: rgb(255, 255, 255, .78); /* keyboard key inner border (<kbd> tag) */
  --md-typeset-kbd-border-color: rgb(212, 212, 212); /* text as keyboard outer border (<kbd> tag) */
  --navigation-borders: #FAA61950; /* Left border on the toc and navigation */
  --card-borders: var(--md-primary-fg-color--dark); /* Borders of cards */
  --md-typeset-table-color: var(--card-borders); /* table borders (<table> tag) */
  --md-admonition-fg-color: var(--md-typeset-color); /* Main text warnings */
  --md-admonition-bg-color: var(--md-default-bg-color); /* Background warnings */
  --md-footer-fg-color: var(--md-primary-bg-color); /* footer text (not much used) */
  --md-footer-fg-color--light: var(--md-primary-bg-color); /* Footer copyright text and social icons fill */
  --md-footer-fg-color--lighter: var(--md-default-fg-color--lighter); /* Footer 'Made with' (Material for MkDocs) text */
  --md-footer-bg-color: var(--md-primary-fg-color); /* footer background color */
  --md-footer-bg-color--dark: rgba(0,0,0,0); /* footer background color (on top of the --md-footer-bg-color) */
  --md-shadow-z1: 0 0.2rem 0.5rem rgba(0,0,0,.05),0 0 0.05rem rgba(0,0,0,.1);
  --md-shadow-z2: 0 0.2rem 0.5rem rgba(0,0,0,.1),0 0 0.05rem rgba(0,0,0,.25);
  --md-shadow-z3: 0 0.2rem 0.5rem rgba(0,0,0,.2),0 0 0.05rem rgba(0,0,0,.35);
  --highlight-bg: #c3c3c3; /* .highligh-bg */
  --card-shadows: #00000075; /* Shadows on cards and other elements */
  --card-shadows-hover: #00000090; /* Shadows hover on cards and other elements */
  --img-background: #FFFFFF; /* Background for transparent images */
  --shadow-hover-background: rgba(29, 28, 28, 0.185); /* Shadow Background on hover */
  --terminal-animation-directory: var(--nri-blue);
  --terminal-animation-buttons: var(--nri-dark-blue);
  --terminal-animation-buttons-hover: var(--nri-orange);
  --note: var(--nri-blue);
  --note-bg: var(--md-accent-fg-color--transparent);
}


/* =============================================================== 
  Main headings
*/
h1 {
  color: var(--md-typeset-color) !important;
  font-weight: 600 !important;
}

h2 {
  font-weight: 500 !important;
}

h3 {
  margin: 1em 0 0.4em !important;
}

/* =============================================================== 
  Introductory paragraph
*/
.introduction {
  font-size: 1.2em;
  padding: .7em;
  display: flex;
  align-items: center;
}

.introduction > img {
  max-width: 7em;
  margin: 0.2em 0.2em 0.2em 0.7em;
}


/* =============================================================== 
  Warning windows 
*/
.warning, 
.md-typeset :is(.warning,.caution,.attention)>:is(.admonition-title,summary):before {
  border-color: var(--nri-orange) !important;
}

.md-typeset .warning>summary:after {
  color: var(--nri-orange);
}


/* =============================================================== 
  Left Navigation and table of content 
*/
.md-nav--primary {
  font-size: 1.7em;
}

.md-nav--secondary {
  font-size: 1.5em;
}

.md-nav:not(.md-nav--primary) {
  border-left: 1px solid var(--navigation-borders);
}

/* Make passed items lighter */
.md-nav__link--passed:not(.md-nav__link--active):not(:hover) {
  color: var(--md-default-fg-color--lighter) !important;
}

/* Add top margin above the first child in left navigation */
.md-nav--primary .md-nav .md-nav__item:first-child {
  margin-top: 1em;
}

/* Make toc lighter */
/* .md-nav--secondary .md-nav__item {
  color: #949db2;
} */

/* =============================================================== 
  Img, main logo 
*/
.md-header__button.md-logo :-webkit-any(img,svg) {
    fill: currentcolor;
    display: block;
    height: 2.5rem;
    width: auto;
}

/* =============================================================== 
  Main body content 
*/
.md-main__inner {
  margin-top: 1.2em;
}


/* =============================================================== 
  Footer
*/

.partners-logo {
  display: flex;
}
.partners-logo > a {
  display: flex;
  align-self: center;
  justify-self: center;
}
.partners-logo img {
  align-self: center;
  justify-self: center;
  width: auto;
  height: 2.5rem;
  padding: 0.4rem 0.6rem;
}


/* =============================================================== 
  Header 
*/
/* Main title */
.md-header__title {
  margin-left: 0.3em !important;
}

/* Banner */
.md-header__inner {
  padding: 0.5em 0;
}


/* Tab section */
.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
}

/* Unselected tab */
.md-tabs__item {
  /* display: inline-block; */
  text-align: center;
  height: min-content;
  transition: background-color 0.5s;
  color: var(--md-default-fg-color--light);
}

/* Headings in the nav bar */
.md-tabs__link {
  font-weight: 500;
  margin-top: 0;
  padding: 0.8em 0;
  font-size: 1.5em;
}

/* Selected tab */
.md-tabs__item--active {
  color: var(--md-typeset-color);
}

.md-tabs__item--active, .md-tabs__link {
  opacity: 1;
}

/* Tab hover state */
.md-tabs__item:hover {
  transition-duration: 0.4s;
  color: var(--md-typeset-color);
}

/* =============================================================== 
  How to contribute image
*/
.rectangular-img {
  width: 100%; 
  height: 13em !important;
  object-fit: cover; 
  border-radius: 0.6em;
}

/* =============================================================== 
  Cards for ACCESS-Hive navigation, model components and model tabs
*/
/* Flexbox container for cards*/
.card-container {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

/* Single card */
.card-container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.3px solid var(--card-borders);
  border-radius: 15px;
  box-shadow: 6px 6px 10px var(--card-shadows);
}

.card-container > * > * {
  flex-grow: 1;
}


/* Single card hover */
.card-container > *:hover {
  border-color: var(--md-accent-fg-color);
  box-shadow: 10px 10px 10px var(--card-shadows-hover);
  transition-property: all;
  transition-duration: 0.4s;
}

.squared-card {
  flex-direction: column;
  max-width: 30%;
  aspect-ratio: 1;
}

.squared-card-image-container {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0.6em 0 0.6em;
  overflow: hidden;
  border-radius: 8px;
}

.squared-card-image-container > img {
  width: 100%;
  height: 100%;
}

.squared-card-text-container {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rectangular-card {
  flex-direction: row;
  width: 100%;
  height: 10em;
  overflow: hidden;
  align-items: stretch;
}

.rectangular-card-image-container {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6em 0 0.6em 0.6em;
  overflow: hidden;
  border-radius: 8px;
}

.rectangular-card-image-container > img {
  height: 100%;
  width: 100%;
}

.rectangular-card-text-container {
  padding: 0 1em;
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rectangular-card-image-container > img, 
.squared-card-image-container > img {
  border-radius: 8px;
}

.configuration-card {
  height: 15em;
}

.card-container:has(.component-card) {
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 0.8em;
}

a.component-card {
  border: unset;
  box-shadow: unset;
  color: var(--md-typeset-color);
  max-width: 22%;
}

.component-card:hover {
  background-color: var(--shadow-hover-background);
  box-shadow: unset;
}

/* =============================================================== 
  References
*/
.references {
  font-size:0.8em;
}

/* =============================================================== 
  Page summary ('on this page' section)
*/
div.page-summary {
  max-width: 100%;
  border: solid 0.5px var(--md-typeset-color);
  border-radius: 3px;
  padding: 0 15px 10px;
  line-height: 1.2em;
  margin: 20px 0;
}

.page-summary h4 {
  margin: 0.7em 0;
}

.page-summary ol {
  list-style-type: none !important;
  counter-reset: item !important;
  margin: 0 !important;
  padding: 0 !important;
}

.page-summary li {
  display: table !important;
  counter-increment: item !important;
  margin: 0 0 0.5em 0.5em !important;
}

.page-summary li:before {
    content: counters(item, ".") ". " !important;
    display: table-cell !important;
    padding-right: 0.3em !important;    
}

.page-summary li li {
    margin: 0.1em 0 0 0 !important;
}

.page-summary li li:before {
    content: counters(item, ".") ". " !important;
}


/* =============================================================== 
  Show different markers for different hierarchy of points (up to 3d hierarchy)
*/
ul:not([class^='md-']) li {
  list-style-type: disc;
}

ul:not([class^='md-']) li ul li {
  list-style-type: circle;
} 

ul:not([class^='md-']) li ul li ul li {
  list-style-type: square;
} 

/* =============================================================== 
  Code block
*/
pre:has(code) {
  display: flow-root !important;
  text-align: left !important;
  padding: 0 0 !important;
  margin-top: 0.5em !important; 
  margin-bottom: 0.5em !important;
}

pre>code {
  white-space: pre-line !important;
  padding: 0.5em 0.8em !important;
  word-break: break-all !important;
}

/* =============================================================== 
  Terminal animations
*/
::part(terminal-container) {
  background-color: var(--md-code-bg-color);
  color: var(--md-code-fg-color);
  font-family: var(--md-code-font-family);
  font-weight: unset;
}

::part(input-character) {
  color: var(--terminal-animation-buttons);
}

::part(directory) {
  color: var(--terminal-animation-directory);
}

::part(fast-button), ::part(restart-button) {
  color: var(--terminal-animation-buttons);
  font-weight: 700;
}

::part(fast-button):hover, ::part(restart-button):hover {
  color: var(--terminal-animation-buttons-hover);
}

/* Try to format like the output of `ls` command */
.ls-output-format {
  word-spacing: 2em;
  word-break: normal;
}

/* =============================================================== 
  Notes (!! icon marks)
*/
.note {
  position: relative;
  border: solid 0.01em var(--note);
  background-color: var(--note-bg);
  border-radius: 0.3em;
  padding: 0.2em 0.3em 0.2em 1.5em;
}

.note::before {
  position: absolute;
  left: 0.3em;
  font-family: "fontello";
  content: '\e800';
  color: var(--note);
}

/* =============================================================== 
  External links
*/
.external-link::after {
  font-family: "fontello";
  content: '\e803';
  vertical-align: super;
  font-size: 0.5em;
  margin-left: 0.3em;
  display: inline-block;
  transform: rotate(-45deg);
}


/* =============================================================== 
  Miscellaneous
*/

/* Gifs, videos and example images (For example the ones in 'how to run' a model */
.example-img {
  width: 100% !important;
  height: auto !important;
  border-radius: 8px;
}

/* Justified text */
.justified {
  text-align: justify;  
}

/* Highlight the background */
.highlight-bg {
  background-color: var(--highlight-bg);
  padding: 0.2em 0.6em;
  margin: 0.6em 0;
  width: fit-content;
  height: fit-content;
  border-radius: 0.3em;
}

/* Highlight background of the same color as tab */
.bg-color-like-tab {
  background-color: var(--md-primary-fg-color--dark);
}

/* Image background */
.image-background {
  background-color: var(--img-background);
}

/* With borders */
.with-border {
  border-radius: 7px;
  border: 1.3px solid var(--card-borders);
  box-sizing: border-box;
}

/* Add padding to image container */
.with-padding {
  padding: 0.5em;
}

/* Typeset text color (even links) */
.default-text-color {
  color: var(--md-typeset-color) !important;
}

.bold {
  font-weight: 600 !important;
}

/* image cover */
.img-cover {
  object-fit: cover;
}

.img-contain {
  object-fit: contain;
}
