/*
   ACCESS-Hive CSS
*/


/* Import medium-weight Roboto font for tabs */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: disabled;
  border-spacing: 17px;
  width: 100%;
}

.logo_component {
    width: 70%;
    margin: 0 auto;
}

.logo_cell {
    margin: 0 auto;
    text-align: center;
    width: 25%;
}

.access_forum_button {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  text-align: center;
  width: 70%;
  border: 0.1rem solid;
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  transition-duration: 0.4s;
  background-color: #00adee;
  color: white
}


.access_forum_button:hover {
  background-color: white;
  color: black;
  border-color: black; }

/* Main body content */
.md-main__inner {
  margin-top: 1em;
}

/* Header */
.md-header {
  padding-top: 1em;
  box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0rem 0.4rem rgb(0 0 0 / 20%);
}

/* Header brand text */
.md-header__title {
  margin-left: 0.3em !important;
}

/* Tab section */
.md-tabs {
  background-color: var(--md-primary-fg-color--dark);
  margin-top: 3em; }

/* Unselected tab */
.md-tabs__item {
  display: inline-block;
  height: min-content;
  transition: background-color 0.5s;
}

.md-tabs__link {
  display: inline-block;
  opacity: 0.95;
  font-weight: 500;
  margin-top: 0px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

/* Selected tab */
.md-tabs__item--active {
  background-color: #00685c;
}

.md-tabs__item--active .md-tabs__link {
  opacity: 1;
}

/* Tab hover state */
.md-tabs__item:hover {
  background-color: #00685c; }

.md-tabs__item:hover .md-tabs__link {
  opacity: 1;
}
