/*
   ACCESS Hive CSS
*/

.center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: disabled;
  border-spacing: 30px;
}

.logo_component {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.logo_cell {
    margin: 0 auto;
    text-align: center;
}