@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?90157532');
  src: url('../font/fontello.eot?90157532#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?90157532') format('woff2'),
       url('../font/fontello.woff?90157532') format('woff'),
       url('../font/fontello.ttf?90157532') format('truetype'),
       url('../font/fontello.svg?90157532#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90157532#fontello') format('svg');
  }
}
*/

.icon-cc:before { color: white; content: '\e800'; font-size: 120%;} /* '' */
.icon-cc-by:before { color: white; content: '\e801'; font-size: 120%;} /* '' */
