
/* Release table styling colours  - apply only to this table??*/
table {
  border-collapse: collapse;
  width: 100%;
  border: 0px solid var(--nri-light-blue);
}

thead {
  padding: 0.1rem;
  text-align: left;
}
th, td {
  border: 1px solid var(--nri-light-blue);
  padding: 0.5rem;
  text-align: left;
}


.md-typeset__table th:nth-child(2) {
  background-color: var(--danger-bg);
  color: rgb(var(--danger-color));
  font-size: 1rem !important;
}

.md-typeset__table th:nth-child(3) {
  background-color: var(--warning-bg);
  color: rgb(var(--warning-color));
  font-size: 1rem;
}
.md-typeset__table th:nth-child(4) {
  background-color: var(--success-bg);
  color: rgb(var(--success-color));
  font-size: 1rem ;
}

.md-typeset__table td:nth-child(1) {
  font-weight: bold;
}

.md-typeset__table td:nth-child(2) {
  background-color: var(--danger-bg) 
}

.md-typeset__table td:nth-child(3) {
  background-color: var(--warning-bg) 
}
.md-typeset__table td:nth-child(4) {
  background-color: var(--success-bg) 
}
