name: Deploy PR preview

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: 
  group: preview-${{ github.ref }}
  cancel-in-progress: true

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  issues: write
  packages: write
  pull-requests: write
  pages: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: | 
          pip install mkdocs-material mkdocs-git-revision-date-localized-plugin

      - name: Build
        # builds to "site" directory by default
        run: |
          mkdocs build -f mkdocs-community.yml -d site
          (cd access-nri && mkdocs build -f mkdocs-nri.yml -d ../site/ACCESS-NRI)

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: site