name: publish
on:
  push:
    branches: 
      - main

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write
  issues: write
  packages: write
  pull-requests: write
  pages: write
  repository-projects: write
  security-events: write
  statuses: write

jobs:
  deploy:
    concurrency: ci-${{ github.ref }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: | 
          pip install mkdocs-material 

      - name: Build
        run: |
          mkdocs build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: site
          branch: gh-pages # default
          clean-exclude: pr-preview/ # don't overwrite previews